<div class="map-details-wrapper">
  <!-- Overview Card for Map Landing Page Starts -->
  <div class="village-overview" *ngIf="showOverview">
    <img src="/assets/icons/village.svg" alt="">
    <div class="village-overview-data">
      <h4>{{ villagesSurveyed}}</h4>
      <p>villages surveyed</p>
    </div>
  </div>
  <!-- Overview Card for Map Landing Page Ends-->
  <div class="village-details" *ngIf="!showOverview">
    <div class="village-details-header-options">
      <button class="btn" (click)="goToPrevMarker()" *ngIf="showMarkerDetails"><i class="fa fa-angle-left" ></i></button>
      <button class="btn" (click)="goToNextMarker()" *ngIf="showMarkerDetails"><i class="fa fa-angle-right" ></i></button>
      <button class="btn close-button" (click)="hideMarkerDetails()"><i class="fa fa-times"></i></button>
    </div>
    <!-- Village Details Start -->
    <div class="village-details-content" *ngIf="showDetails">
      <h4>{{ villageDetails.name }}</h4>
      <div class="details">
          <p>
            {{ villageDetails.population}}
          </p>
          <span class="meta-text">Total Population</span>
      </div>
      <div class="details">
          <p>
            {{ villageDetails.households}}
          </p>
          <span class="meta-text">Total Households</span>
        </div>
      <div class="details">
        <p>
          {{ villageDetails.wasteDischarge}} lpm
        </p>
        <span class="meta-text">Total Discharge</span>
      </div>

      <div class="details" style="display: inline-block;">
          <p>
            {{ villageDetails.totalPlantsCap}} MLD
          </p>
          <span class="meta-text">Total Plants: {{ villageDetails.totalPlants}}</span>
      </div>
      <div class="details" style="margin-left: 15px; display: inline-block;">
          <p>
            {{ villageDetails.operationalPlantsCap}} MLD
          </p>
          <span class="meta-text">Operational Plants: {{ villageDetails.operationalPlants}}</span>
      </div>
      <div class="details" style="margin-left: 15px; display: inline-block;">
          <p>
            {{ villageDetails.proposedPlantsCap}} MLD
          </p>
          <span class="meta-text">Proposed Plants: {{ villageDetails.proposedPlants}}</span>
      </div>

      <div class="details">
        <p>
          {{ villageDetails.primaryPollution}}
        </p>
        <span class="meta-text">Primary reason for pollution</span>
      </div>
    </div>
    <div class="village-points" *ngIf="showDetails">
      <div class="point" style="padding-left:38px;">
        <img src="/assets/icons/tapped.svg" alt="">
        <div class="point-data">
          <h4>{{ villageDetails.tapped }}</h4>
          <span class="meta-text">Tapped</span>
        </div>
      </div>
      <div class="point">
        <img src="/assets/icons/partiallyTapped.svg" alt="">
        <div class="point-data">
          <h4>{{ villageDetails.partiallyTapped }}</h4>
          <span class="meta-text">Partially Tapped</span>
        </div>
      </div>
      <div class="point">
        <img src="/assets/icons/untapped.svg" alt="">
        <div class="point-data">
          <h4>{{ villageDetails.untapped }}</h4>
          <span class="meta-text">Untapped</span>
        </div>
      </div>
    </div>
    <!-- Village Details End -->

    <!-- Markers Details Start -->
    <div class="marker-details" *ngIf="showMarkerDetails">
      <div class="image-container">
        <!-- <button (click)="toggleFullScreenImage()"><i class="fas fa-expand"></i></button> -->
        <img [src]="currentMarker?.image" alt="">
      </div>
      <div class="details-container">
        <h4>{{currentMarker?.name }}</h4>
        <div class="status">
            <img [src]="currentMarker?.iconUrl" alt="">
            <p>{{currentMarker?.status }}</p>
            <span class="meta-text">Status</span>
        </div>
        <div class="waste-details">
          <div class="waste">
              <h4>{{currentMarker?.discharge }}</h4>
              <span class="meta-text">Discharge</span>
          </div>
          <div class="waste">
              <h4>{{currentMarker?.pollutionReason }}</h4>
              <span class="meta-text">Primary reason for pollution</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Markers Details End -->
  </div>
</div>