<header>
    <div class="nav-header">
        <div class="nav-brand">
            <div class="brand-image">
                <img src="/assets/namami.jpg" alt=""> 
            </div>
            <div class="brand-image">
                <img style="width: 60px;" src="/assets/uk.png" alt=""> 
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
  <div class="form-wrapper">
       <div class="form-header">
           <img src="/assets/logo.png" alt=""> 
       </div>
       <div class="form-content">
           <h4>LOGIN</h4>
           <form>
               <div class="form-group">
                   <label for="exampleInputEmail1">Email ID</label>
                   <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email id">
                   <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
               </div>
               <div class="form-group">
                   <label for="exampleInputPassword1">Password</label>
                   <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
               </div>
               <div class="form-links">
                   <div class="forgot-password">
                       <a href="#">Forgot Password</a>
                   </div>
                   <div class="login">
                       <button (click)="login($event)" class="btn">LOGIN</button>
                   </div>
               </div>
           </form>
       </div>
       <div class="form-footer">
           <p>Powered by <strong>EveryULB</strong></p>
       </div>
  </div>
</div>